<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>レッスン検索</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet">
  </head>
  <body>
    <form method="get" name="form1" th:action="@{/index/search}" th:object="${form}">
    <h3>レッスン検索</h3>
      <table class="search">
        <tr>
          <th>ダンサー名</th>
          <td><input type="text" class="form-control" name="dancer" th:value="${dancer}"/></td>
        </tr>
        <tr>
          <th>チーム名</th>
          <td><input type="text" class="form-control" name="team" th:value="${team}"/></td>
        </tr>
        
        <tr>
          <th>スタジオ名</th>
          <td>
            <label th:each="data : ${stu}"><input type="radio" class="form-control" name="studio" th:value="${data.studio}" th:text="${data.studio}" th:field="*{studio}"/></label>
          </td>
        </tr>
        
        <tr>
          <th>曜日</th>
          <td>
            <label th:each="data2 : ${we}"><input type="radio" class="form-control" name="week" th:value="${data2.week}" th:text="${data2.week}" th:field="*{week}"/></label>
          </td>
        </tr>
        
        <tr>
          <th>開始時間</th>
          <td><input list="startFrom" class="time-control" name="startFrom"/>
              <datalist id="startFrom">
                <option value="1300"><option value="1400"><option value="1500"><option value="1600"><option value="1700">
                <option value="1800"><option value="1900"><option value="2000"><option value="2100"><option value="2200"><option value="2300">
              </datalist>
               ～ <input list="startTo" class="time-control" name="startTo"/>
              <datalist id="startTo">
                <option value="1300"><option value="1400"><option value="1500"><option value="1600"><option value="1700">
                <option value="1800"><option value="1900"><option value="2000"><option value="2100"><option value="2200"><option value="2300">
              </datalist>
          </td>
        </tr>
        
        <tr>
          <th>終了時間</th>
          <td><input list="closeFrom" class="time-control" name="closeFrom"/>
              <datalist id="closeFrom">
               <option value="1300"><option value="1400"><option value="1500"><option value="1600"><option value="1700">
               <option value="1800"><option value="1900"><option value="2000"><option value="2100"><option value="2200"><option value="2300">
              </datalist>
               ～ <input list="closeTo" class="time-control" name="closeTo"/>
              <datalist id="closeTo">
               <option value="1300"><option value="1400"><option value="1500"><option value="1600"><option value="1700">
               <option value="1800"><option value="1900"><option value="2000"><option value="2100"><option value="2200"><option value="2300">
              </datalist>
          </td>
        </tr>
        
        <tr>
          <th>クラス</th>
          <td><input type="text" class="form-control" name="level" th:value="${level}"/></td>
        </tr>
      </table>
      <input type="submit" value="検索"/>
    </form>
    <footer>
        <p>(c)2020 Hashimoto</p>
    </footer>
  </body>
</html>
